
body {
  background-color: black;
  background-image: url("background.jpg");
}

#board {
  width: 600px;
  left: 50%;
  margin-top: -200px;
  margin-left: -320px;
  position: absolute;
  top: 50%;
  height: 500px;
  border: 5px solid;
  border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
  background-color: black;
 
}

#gameItem{
  background-image: url("indy.png");
  width: 62px;
  height: 120px;
  position: absolute;
  left: 100px;
  top: 100px;
 
 
}

#gameItem2 {
  background-image: url("hitler.png");
  width: 85px;
  height: 100px;
  position: absolute;
  right: 0px;
  bottom: 0px;

 
}

#audio{
  left: 50%;
  margin-top: 275px;
  margin-left: -150px;
  position: absolute;
  top: 50%;

 
}

  .rotate {
    transform: rotate(20deg);
  }


#title {

  text-align: center;
  margin: 75px 0 0 0;
  font-size: 6vw;
  padding: 0px;
  color: transparent;
  letter-spacing: -.1rem;
  font-family: 'Press Start 2P', cursive;
     text-shadow: 
      5px -5px 0 #E23769,
      1px -8px 0 #E9CD55,
      0px -1px 0 #70B3EB,
      -1px -2px 0 #70B3EB, 
      -4px -4px 0 #70B3EB, 
      -6px -6px 0 #70B3EB, 
      -8px -8px 0 #70B3EB, 
      -10px -10px 0 #70B3EB, 
      -12px -12px 0 #70B3EB, 
      -14px -14px 0 #70B3EB, 
      -16px -16px 0 #70B3EB, 
      -18px -18px 0 #70B3EB, 
      -20px -20px 0 #70B3EB, 
      -22px -22px 0 #70B3EB, 
      -24px -24px 0 #70B3EB, 
      -26px -26px 0 #70B3EB, 
      -28px -28px 0 #70B3EB, 
      -30px -15px 30px rgba(0, 0, 0, 0.6); 
}


