
body {
  background-color: black;
  background-image: url("img/background.jpg");
}

#board {
  width: 900px;
  left: 50%;
  margin-top: -200px;
  margin-left: -480px;
  position: absolute;
  top: 50%;
  height: 500px;
  background-color: black;
  border: 5px solid;
  border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
  }

  img {
   
    position: absolute;
  } 

.snake, #apple {
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
}

#snake-head {
  background-color: darkgreen;
}

#apple {
  background-image: url("img/apple.png");
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

#score {
  text-align: center;
  font-size: 2vw;
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-shadow: 2px 2px #000000;
  position: absolute;
  left: 100px;
  top: 50%;
}

#playAgain {
  text-align: center;
  margin: 30px 0 0 0;
  font-size: 3vw;
  font-family: 'Press Start 2P', cursive;
  color: black;
  position: absolute;
}

h2 {  
  color: white;
  text-shadow: 2px 2px #000000;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0;
  
}
.scoretable {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px #000000;
  font-family: 'Press Start 2P', cursive;
  width: 350px;
  font-size: 1rem;
  margin: 10px auto;
  left: 100px;
  top: 50%;
}